<div class="col s12">
  <div class="card Large">

    <div class="card-content">
      <p><%= simple_format(h(blog.content)) %></p>
    </div>

    <div class="card-action">
      <% modal = "#smodal" + blog.id.to_s%>
      <%= link_to "SHOW", modal ,class: :"waves-effect waves-light btn green accent-1 modal-trigger trigger"%>
      <% if user_signed_in? %>
        <% if current_user.id == blog.user.id%>
          <% modal = "#emodal" + blog.id.to_s%>
          <%= link_to "EDIT", modal ,class: :"waves-effect waves-light btn green accent-1 modal-trigger trigger"%>
          <%= link_to "DESTROY", blog_path(blog) ,method: :delete, class: :"waves-effect waves-light btn green accent-1" , data: { confirm: '削除してもよろしいですか？' }%>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

      <% if user_signed_in? %>
        <% if current_user.id == blog.user.id%>
          <div id= "emodal<%= blog.id%>"  class="modal modal-fixed-footer">
            <div class="modal-content">
              <div class="row">
                  <%= form_for blog, :html => {:class => "col s12"} do |f|%>
                          <div class="row">
                              <div class="input-field col s12">
                                <%= f.text_area :content, class: :"materialize-textarea", id: :"textarea2 ajax#{blog.id}" %>
                                <%= f.label :"本文" , for: :textarea2%>
                              </div>
                          </div>
                           <div class="modal-footer">
                              <div class="center-align">
                                <button class="modal-close waves-effect waves-light btn green accent-1 text-white" type="submit" name="action">
                                  <%= f.submit '更新する',{class: "colorwhite"}%>
                                  <i class="material-icons right ">send</i>
                                </button>
                              </div>
                          </div>
                  <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
            <div id= "smodal<%= blog.id%>"  class="modal modal-fixed-footer">
            <div class="modal-content">
              <div class="row">
                    <div class="row">
                        <div class="input-field col s12">
                          <div class="ajaxshow<%= blog.id%>">
                            <%= simple_format(h(blog.content)) %>
                          </div>
                        </div>
                    </div>
                     <div class="modal-footer">
                        <div class="center-align">
                          <a href="/" class="modal-close waves-effect waves-green btn-flat">閉じる</a>
                        </div>
                    </div>
              </div>
            </div>
            </div>



