<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

  <body>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "flash flash__#{key}") %>
  <% end %>
  <header id="header" class="">
  <nav class = "  pink lighten-3">
    <div class="navbar-fixed">
    <div class="nav-wrapper">
      <%= link_to "Blog", blogs_path, class: :"brand-logo center" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li><%= link_to "SignOut", destroy_user_session_path, method: :delete,class: :"modal-trigger trigger" %></li>
        <li><%= link_to "New", "#modal1",class: :"modal-trigger trigger" %></li>
      <% else%>
        <li><%= link_to "SignIn", "#siginpmodal",class: :"modal-trigger trigger" %></li>
        <li><%= link_to "SignUp", "#signupmodal",class: :"modal-trigger trigger" %></li>
      <% end %>
      </ul>
    </div>
    <div class="navbar-fixed">
  </nav>
  </header>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
